<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetBrowser" version="3.0.0" targetFramework="net462" />
  <package id="DotNetBrowser.Chromium.Win-arm64" version="3.0.0" targetFramework="net462" />
  <package id="DotNetBrowser.Chromium.Win-x64" version="3.0.0" targetFramework="net462" />
  <package id="DotNetBrowser.Chromium.Win-x86" version="3.0.0" targetFramework="net462" />
  <package id="DotNetBrowser.Wpf" version="3.0.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net452" />
</packages>
