/* 
 *  Copyright © 2025, TeamDev. All rights reserved.
 *
 *  Redistribution and use in source and/or binary forms, with or without
 *  modification, must retain the above copyright notice and the following
 *  disclaimer.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

body {
	font: 14px/1.72 'Open Sans', Arial, sans-serif;
}

.default {
    background-color: rgb(60, 60, 60);
    color: white;
}

.main {
    height: 75%;
    margin: auto;
    padding: 15px 50px;
    width: 75%;
}

.popup {
    border: 2px dashed #000000;
    border-radius: 4px;
    font-weight: 700;
    height: 100%;
    line-height: 100px;
    margin: -5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.popup1 {
    background-color: #00C957;
    padding: 10px;
}

.popup2 {
    background-color: #3D59AB;
    padding: 10px;
}

.popup3 {
    background-color: #DB2645;
    padding: 10px;
}

.popup4 {
    background-color: #FF6633;
    padding: 10px;
}

.popup5 {
    background-color: #B03060;
    padding: 10px;
}

.popup6 {
    background-color: #F0FFF0;
    padding: 10px;
}

.popup7 {
    background-color: #696969;
    padding: 10px;
}

.popup8 {
    background-color: #FFB6C1;
    padding: 10px;
}

form { margin-top: 60px; }

a {
    color: #B03060;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited { color: rgb(136, 172, 136); }

input[type="button"] {
    -webkit-transition: all .15s ease-in;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font: 14px/1 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    height: 46px;
    letter-spacing: .04em;
    padding: 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 175px;
}

input[type="button"]:focus {
    background: rgba(255, 255, 255, .1);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input[type="button"]:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
}

input[type="button"]:hover {
    background: rgba(255, 255, 255, .1);
    color: #fff;
}