<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <config>
    <add key="repositoryPath" value="$\..\..\..\packages" />
  </config>
  <packageSources>
    <add key="DotNetBrowser EAP NuGet feed" value="https://pkgs.dev.azure.com/teamdev-products/66fbd081-377c-4af2-a64d-fee8ca740ed4/_packaging/dotnetbrowser-eaps/nuget/v3/index.json" />
  </packageSources>
</configuration>