<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="DotNetBrowser.Demo.Wpf" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="demo_wpf.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>