<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetBrowser" version="2.14.0" targetFramework="net45" />
  <package id="DotNetBrowser.Chromium.Win-x64" version="2.14.0" targetFramework="net45" />
  <package id="DotNetBrowser.Chromium.Win-x86" version="2.14.0" targetFramework="net45" />
  <package id="DotNetBrowser.WinForms" version="2.14.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net45" />
</packages>
